.contact-form {
  .container {
    background-color: $peach;
    padding: $container-padding-mobile;

    @include tablet {
      border-radius: 0.9375rem;
      padding: $container-padding-tablet;
    }
    @include desktop {
      padding: $container-padding-desktop;
    }
    .bg-pattern {
      position: absolute;
      z-index: 1;
      background: linear-gradient(
        to bottom,
        rgba(93, 2, 2, 0.01%) 0%,
        rgba(93, 2, 2, 49.76%) 100%
      );
      opacity: 0.2;
      border-radius: 50%;
      aspect-ratio: 1/1;

      @include tablet {
        width: 640px;

        top: 0;
        left: 0;
        transform: translate(-25%, -25%);
      }
      @include desktop {
        bottom: 0;
        left: 0;
        top: unset;
        right: unset;
        transform: translateX(-25%);
      }
      @include fullhd {
        transform: unset;
      }
    }
    .bg-pattern-mobile {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      @include tablet {
        display: none;
      }
    }
  }
  .columns {
    z-index: 2;
  }
  .text-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
    text-align: center;

    @include tablet {
      text-align: left;
    }
    .title {
      color: $white;
    }
  }

  .form-col {
    .field {
      margin-bottom: 1.5625rem;

      &:last-child {
        margin-bottom: 0;
      }
      .control {
        position: relative;
        input,
        textarea {
          background: transparent;
          border: none;
          border-bottom: 1px solid $white;
          border-radius: 0;
          box-shadow: none;
          padding: 0 1rem 0.75rem 1rem;

          color: $white;
          font-family: $jost-medium;
          font-size: 1rem;
          line-height: 1.625rem;
          &::placeholder {
            color: $white;
            font-family: $jost-medium;
            font-size: 1rem;
            line-height: 1.625rem;
            opacity: 50%;
          }

          &:focus,
          &.has-value {
            border-bottom: 3px solid $white;
          }
          &::selection {
            background-color: $light-peach;
          }
        }
        .error-msg {
          position: absolute;
          right: 0.9375rem;
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            font-family: $jost-italic;
            font-size: 0.75rem;
            line-height: 1.625rem;
            color: $white;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
  .btn-wrapper {
    display: flex;
    justify-content: center;

    @include tablet {
      justify-content: flex-end;
    }

    &.is-success {
      flex-direction: column-reverse;
      align-items: center;

      @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    .success-msg {
      margin-top: 1rem;
      color: #6be8bb;

      @include tablet {
        margin-top: 0;
        padding-left: 1rem;
      }
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .loading {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      position: absolute;
      bottom: -3.5rem;
    }
    .loader {
      border: 0.125rem solid $light-peach;
      border-right-color: transparent;
      border-top-color: transparent;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
